flask==3.0.2
python-dotenv==1.0.1
chromadb==0.4.24
langchain==0.1.12
langchain-community>=0.0.28
langchain-core>=0.1.27
langchain-text-splitters>=0.0.1
ollama==0.1.6
unstructured==0.14.3
werkzeug==3.0.1
requests==2.31.0 